################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/GraphicsPostProcesses/v16/ipch/AutoPCH/2b78801c35718f74/GRAPHICSPOSTPROCESSES.ipch
/Debug
/.vs/GraphicsPostProcesses/v16
/x64/Debug
/Resources/Textures
/Resources/Shaders/ScreenQuad.vsh.h
/Resources/Shaders/MeshStandard.vsh.h
/Resources/Shaders/MeshStandard.psh.h
/Resources/Shaders/HDRToneMapping.psh.h
/Resources/Meshes
/Resources/Shaders/HDRBrightPass.psh.h
/Resources/Shaders/GaussianBlurY.psh.h
/Resources/Shaders/GaussianBlurX.psh.h
/Resources/Shaders/AntiAliasing.psh.h
/Resources/Shaders/AddPointLightToBufferCS.hlsl.h
/Resources/Shaders/SetPointLightCS.hlsl.h
/Resources/Shaders/DistributePointLightCS.hlsl.h
/Resources/Shaders/CalculateClusterCoordinatesCS.hlsl.h
