################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/GraphicsPostProcesses/v16/ipch/AutoPCH/2b78801c35718f74/GRAPHICSPOSTPROCESSES.ipch
