################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/GraphicsPostProcesses/v16/ipch/AutoPCH/2b78801c35718f74/GRAPHICSPOSTPROCESSES.ipch
/Debug
/.vs/GraphicsPostProcesses/v16
/x64/Debug
/Resources/Textures
/Resources/Meshes
/Resources/Shaders/AddPointLightToBufferCS.hlsl.h
/Resources/Shaders/SetPointLightCS.hlsl.h
/Resources/Shaders/DistributePointLightCS.hlsl.h
/Resources/Shaders/CalculateClusterCoordinatesCS.hlsl.h
/Resources/Shaders/AntiAliasingPS.hlsl.h
/Resources/Shaders/ScreenQuadVS.hlsl.h
/Resources/Shaders/MeshStandardVS.hlsl.h
/Resources/Shaders/MeshStandardPS.hlsl.h
/Resources/Shaders/HDRToneMappingPS.hlsl.h
/Resources/Shaders/HDRBrightPassPS.hlsl.h
/Resources/Shaders/GaussianBlurYPS.hlsl.h
/Resources/Shaders/GaussianBlurXPS.hlsl.h
/Resources/Shaders/UpdateParticleSystemCS.hlsl.h
/Resources/Shaders/SortParticleSystemCS.hlsl.h
/Resources/Shaders/ParticleStandardVS.hlsl.h
/Resources/Shaders/ParticleStandardPS.hlsl.h
/Resources/Shaders/ParticleStandardGS.hlsl.h
/Resources/Shaders/UISpriteStandardVS.hlsl.h
/Resources/Shaders/UISpriteStandardPS.hlsl.h
/Resources/Shaders/UITextStandardVS.hlsl.h
/Resources/Shaders/UITextStandardPS.hlsl.h
/Resources/Shaders/OnlyVertexIdOutputVS.hlsl.h
/Resources/Shaders/EmptyVS.hlsl.h
/Resources/Shaders/ClothApplySelfCollisionCS.hlsl.h
/Resources/Shaders/ClothApplyForcesCS.hlsl.h
/Resources/Shaders/ClothApplyExternalConstraintsCS.hlsl.h
/Resources/Shaders/ClothApplyConstaintsCS.hlsl.h
/Resources/Shaders/ClothRecalculateTangentsCS.hlsl.h
/Resources/Shaders/ClothStandardVS.hlsl.h
/Resources/Shaders/ClothStandardPS.hlsl.h
